html{
min-height:100%;
}

body{
background-image: url("http://3.bp.blogspot.com/-3UIjuTrbAI8/Uihk5uaH_lI/AAAAAAAAAuk/gcn5XlQ9kyI/s640/Top+10+best+Simple+Awesome+Background+Images+for+Your+Website+or+Blog2.jpg");
margin:0px;
padding:0px;
min-height:100%;
}

#container{
min-height:100%;
position:relative;
}

#header{
padding:10px;
padding-top:25px;
}

#body{
padding-bottom:30px;

}

#footer{
position:absolute;
bottom:0;
width:100%;
height:30px;
}

#header h1{
text-align:center;
font-size:58px;
font-family:Garamond;
margin-bottom:10px;
}

#sub-heading{
margin-bottom:30px;
}

#body h2{
text-align:center;
}

.slide-container{
width:80%;
height:550px;
position:relative;
border:1px solid #868686;
margin-left:10%;
margin-right:10%;
background: url("http://cdn.pcwallart.com/images/pale-yellow-color-wallpaper-1.jpg") center center no-repeat;
background-size:cover;
}

.slide{
position:absolute;
top:0px;
left:0px;
width:100%;
height:100%;
display:none;
}

.slide-active{
display:block;
}

#intro-first-line{
margin-top:0.7em;
margin-bottom:0.2em;
color:#F57AAE;
font-size:100px;
text-align:center;
}

#intro-second-line{
margin-bottom:0.2em;
margin-top:0.2em;
font-size:80px;
text-align:center;
color:#F1BA59;
}

#intro-third-line{
margin-bottom:0.2em;
margin-top:0.2em;
font-size:70px;
text-align:center;
color:#F1BA59;
}

#cone{
position:absolute;
mix-blend-mode: multiply;
width:10vw;
top:230px;
left:6vw;
}

#scoop{
position:absolute;
mix-blend-mode: multiply;
top:210px;
right:3vw;
width:15vw;
}

.ingredients ul{
font-size:55px;
margin:0px;
list-style-type:none;
margin:20px;
font-family:Garamond;
width:60%;
}

.ingredients ul li{
font-size:32px;
margin-top:40px;;
margin-left:50px;
font-family:Courier;
}

#ingredients-pic{
mix-blend-mode: multiply;
width:30%;
height:55%;
position:absolute;
top:150px;
right:50px;
}

a{
color:blue;
}

.intro ul{
overflow:hidden;
list-type-style:none;
position:absolute;
left:24%;
top:80%;
padding:0px;
display:block;
margin:auto;
}

.intro ul li{
display:inline-block;
border-right: 1px solid black;
padding-left:5px;
padding-right:5px;
}

.intro ul li:last-child{
border-right:none;
}

.directions ul{
margin:0px;
font-size:3.5em;
font-family:Verdana;
padding:0px;
}

.directions ul p{
border-bottom: 1px solid black;
padding-left:30px;
}

.directions ul li{
margin-left:150px;
margin-top:30px;
margin-bottom:90px;
font-size:0.55em;
font-family:cursive;
width:70%;
}

.enjoy h1{
text-align:center;
font-size:5em;
position:relative;
top:15%;
font-family:cursive;
}

.enjoy p{
text-align:center;
font-size:1.5em;
position:relative;
top:15%;
width:80%;
display:block;
margin:auto;
}

.slide-button{
text-align:center;
}

.nextarrow{
display:inline-block;
vertical-align:middle;
position:relative;
right:25px;
margin-top:5px;
}

.prevarrow{
display:inline-block;
vertical-align:middle;
position:relative;
left:25px;
margin-top:5px;
}

.slide-button ul{
list-style-type:none;
display:inline-block;
padding-left:0px;
margin-bottom:0px;
position:relative;
top:9px;
}

.slide-button ul li{
display:inline;
font-size:40px;
margin-left:2px;
margin-right:2px;
}

.dot{
color:#B17100;
}

.dot-active{
color:#F57AAE;
}
